<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357092927127-2e9negrddoi790gpulb0n6qftr181rlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357092927127-2e9negrddoi790gpulb0n6qftr181rlv</string>
	<key>API_KEY</key>
	<string>AIzaSyDd7dYd9KS4UEl6lEiDOR_3dXQ-II29TK4</string>
	<key>GCM_SENDER_ID</key>
	<string>357092927127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HKmedi</string>
	<key>PROJECT_ID</key>
	<string>hkapp-6c318</string>
	<key>STORAGE_BUCKET</key>
	<string>hkapp-6c318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357092927127:ios:9912c4858aecfeee4c6bd2</string>
</dict>
</plist>
